{{#each libraries as |library|}}
  <div class="item">
    {{link-to library.name "library" library.id class="header"}}
    <div class="description">
      <p>{{library.sentence}}</p>
      {{library.version}}
      {{#if library.isExperimental}}
        <span class="mini basic blue horizontal ui label">
          <i class="blue certificate inverted triangle icon"></i>
          verified
        </span>
      {{/if}}
      {{#if library.isExperimental}}
        <span class="mini basic horizontal ui label">
          <i class="small grey exclamation triangle icon"></i>
          experimental
        </span>
      {{/if}}
    </div>
  </div>
{{else}}
  {{yield}}
{{/each}}
{{#if libraries}}
  <div class="ui divider"></div>
  <div class="ui buttons">
    <button type="button" class="ui button" disabled={{isFirstPage}} {{action onPreviousClick}}>Previous</button>
    <button type="button" class="ui button" disabled={{isLastPage}} {{action onNextClick}}>Next</button>
  </div>
{{/if}}