<div class="header item">
  {{#link-to headerLinkPath}}
    <i class="microchip icon"></i>
    Library Lister
  {{/link-to}}
</div>
<div class="right menu">
  <div id="site-nav-destination" class="item"></div>
  {{#if isLoggedIn}}
    <div class="item">
      <button type="button" class="ui right floated inverted basic button item" {{action onLogOut}}>Log Out</button>
    </div>
  {{/if}}
</div>