/* Align header nav with main content */
body > header.ui.attached.segment {
  border: 0;
  padding: 0.5rem 0.125rem 0.5rem 0.5rem;
}

/* Push footer to viewport edge */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body > main {
  flex: 1;
}

/* Align dimmer to top */
.ui.dimmer .ui.loader { top: 100px; }

/* Fine tune vertical space */
.libraries.ui.list { margin-top: 0; }
.libraries .item p { margin-bottom: 0.5rem; }

/* Readme aesthetics */
.repo-readme.ui.segment {
  background: #fcfcfc;
}
.repo-readme code {
  background: #f0f0f0;
  padding: 0.2em 0.4em;
}
.repo-readme pre > code {
  border-radius: 0.25rem;
  display: inline-block;
  padding: 1rem;
}
.repo-readme h1 > a,
.repo-readme h2 > a,
.repo-readme h3 > a,
.repo-readme h4 > a,
.repo-readme h5 > a,
.repo-readme h6 > a {
  display: none;
}

/* Utils */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
