<header class="ui attached inverted blue clearing segment">
  <SiteNav
    @headerLinkPath="index"
    @isLoggedIn={{session.isAuthenticated}}
    @onLogOut={{action "logOut"}} />
</header>
<main class="ui attached clearing segment">
  {{outlet}}
</main>
<footer class="ui attached center aligned basic clearing segment">
  <p>Powered by Particle's Cloud API</p>
</footer>