<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="cloud icon"></i>
    Find just what you're looking for!
  </div>
  <button class="ui primary button" {{action "logIn"}}>Connect</button>
</div>