{{#ember-wormhole to="site-nav-destination"}}
  <div class="ui inverted icon input">
    <input
      type="text"
      placeholder="Library name..."
      oninput={{debounce (action "search" value="target.value") 500}}
      autocomplete="off"
      value={{filter}}
      data-test="search-input">
    <i class="search icon"></i>
  </div>
{{/ember-wormhole}}
<LibraryList
  @class="libraries"
  @isFirstPage={{isFirstPage}}
  @isLastPage={{isLastPage}}
  @libraries={{model}}
  @onPreviousClick={{action "previous"}}
  @onNextClick={{action "next"}}
>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="search icon"></i>
      Nothing came back…
    </div>
    <button class="ui primary button" {{action "search" ""}}>Clear Search</button>
  </div>
</LibraryList>
{{#if isLoading}}
  <div class="ui active inverted dimmer">
    <div class="content">
      <div class="ui text loader">Loading...</div>
    </div>
  </div>
{{/if}}

{{outlet}}