<div class="ui stackable grid library">
  <div class="four wide column">
    <div class="huge ui header truncate">
      <span data-test="library-header">{{model.library.name}}</span>
      <div class="sub header">
        {{model.library.version}} • {{model.library.author}}
      </div>
    </div>
    <p>
      {{#if model.library.isExperimental}}
        <span class="mini basic blue ui label">
          <i class="blue certificate inverted triangle icon"></i>
          verified
        </span>
      {{/if}}
      {{#if model.library.isExperimental}}
        <span class="mini basic ui label">
          <i class="small grey exclamation triangle icon"></i>
          experimental
        </span>
      {{/if}}
    </p>
    <p>
      {{model.library.sentence}}
    </p>
    <div class="ui header">
      <i class="github icon"></i>
      <div class="content">
        <div class="sub header">Repository</div>
        <a href={{model.library.repository}}>github</a>
      </div>
    </div>
    <div class="ui header">
      <i class="download icon"></i>
      <div class="content">
        <div class="sub header">Installs</div>
        {{model.library.installs}}
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui top attached grey inverted header">
      Readme
    </div>
    <div class="ui bottom attached segment repo-readme">
      {{model.readme}}
    </div>
  </div>
</div>